{{#each articles}}

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img class="is-rounded" src={{this.urlToImage}} alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{this.title}}</p>
      </div>
    </div>
    <p class="subtitle">
        {{this.description}}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <a href={{this.url}}>Read More</a>
      </span>
    </p>
  </footer>
</div>
<br>


{{/each}}

